<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/7.0.1-4/tachyons.min.css" rel="stylesheet"> -->
		<link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.0/normalize.css">
		<link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/sakura.css">
		<style>
		header {
		  margin-bottom: 12%;
		  text-align: center;
		}

		main > section {
			text-align: center;
		}

		main > section table {
			margin-bottom: 5px;
		}
		.-ba {
			border: 1px solid #333;
		}

		</style>
	</head>

	<body>
		<header>
			<h1>{{ self.title() }}</h1>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
	</body>
</html>
